$dropdown-shadow-color: rgba(0,0,0,0.15);

$tooltip-background: #000;

// Color variables, subject to name changes
// NOT USED IN ACTUAL STYLESHEETS. Make other
// variables with semantic names based on these.

$white: #FFFFFF;
$gray-lightest: #F6F6F6;

$green: #30E09B;
$green-dark: #32AB7B;
$green-light: #B4F4DB;

$indigo: #574CDA;
$indigo-dark: #3F3892;

$blue: #25AEFC;
$blue-dark: #1380C0;

$red: #FD6967;
$red-dark: #C05654;

$yellow: #F0AD4E;
$yellow-dark: #EC971F;

$magenta: #DD59FC;
$magenta-dark: #B348C1;

$gray-lighter: #E5E5E5;
$gray-light: #D1D2E4;
$gray: #BDBDBD;

$gray-med: #999A9B;

$black: #19181D;
$gray-dark: #3D3C4A;

// Semantic variables, used throughout

$default: $white;
$default-active: $gray-lighter;
$default-color: $gray-med;
$default-border: #ddd;

$inverse: $gray-lighter;
$inverse-active: $gray-light;
$inverse-color: $gray-med;
$inverse-color-active: darken($gray-med, 10%);
$inverse-border: $gray-lighter;

$primary: $indigo;
$primary-active: $indigo-dark;
$primary-color: $white;

$success: $green;
$success-active: $green-dark;
$success-color: $white;

$danger: $red;
$danger-active: $red-dark;
$danger-color: $white;

$warning: $yellow;
$warning-active: $yellow-dark;
$warning-color: $white;

$info: $blue;
$info-active: $blue-dark;
$info-color: $white;

// input

$input-bg: $default;
$input-color: $default-color;

$input-bg-inverse: $inverse;
$input-color-inverse: $inverse-color;

// popover

$popover-color: $default;

// Transitions

$fast-fade: 0.2s ease-in-out;

// Bootstrap overrides, minimize these

$border-radius-base: 2px;
$border-radius-large: 2px;
$border-radius-small: 2px;

$navbar-inverse-bg: $gray-dark;
$navbar-inverse-link-active-bg: $black;

.tf-icon { @extend .glyphicon; }

.tf-icon--asterisk                { @extend .glyphicon-asterisk;                }
.tf-icon--plus                    { @extend .glyphicon-plus;                    }
.tf-icon--minus                   { @extend .glyphicon-minus;                   }
.tf-icon--cloud                   { @extend .glyphicon-cloud;                   }
.tf-icon--envelope                { @extend .glyphicon-envelope;                }
.tf-icon--pencil                  { @extend .glyphicon-pencil;                  }
.tf-icon--glass                   { @extend .glyphicon-glass;                   }
.tf-icon--music                   { @extend .glyphicon-music;                   }
.tf-icon--search                  { @extend .glyphicon-search;                  }
.tf-icon--heart                   { @extend .glyphicon-heart;                   }
.tf-icon--star                    { @extend .glyphicon-star;                    }
.tf-icon--star-empty              { @extend .glyphicon-star-empty;              }
.tf-icon--user                    { @extend .glyphicon-user;                    }
.tf-icon--film                    { @extend .glyphicon-film;                    }
.tf-icon--th-large                { @extend .glyphicon-th-large;                }
.tf-icon--th                      { @extend .glyphicon-th;                      }
.tf-icon--th-list                 { @extend .glyphicon-th-list;                 }
.tf-icon--ok                      { @extend .glyphicon-ok;                      }
.tf-icon--remove                  { @extend .glyphicon-remove;                  }
.tf-icon--zoom-in                 { @extend .glyphicon-zoom-in;                 }
.tf-icon--zoom-out                { @extend .glyphicon-zoom-out;                }
.tf-icon--off                     { @extend .glyphicon-off;                     }
.tf-icon--signal                  { @extend .glyphicon-signal;                  }
.tf-icon--cog                     { @extend .glyphicon-cog;                     }
.tf-icon--trash                   { @extend .glyphicon-trash;                   }
.tf-icon--home                    { @extend .glyphicon-home;                    }
.tf-icon--file                    { @extend .glyphicon-file;                    }
.tf-icon--time                    { @extend .glyphicon-time;                    }
.tf-icon--road                    { @extend .glyphicon-road;                    }
.tf-icon--download-alt            { @extend .glyphicon-download-alt;            }
.tf-icon--download                { @extend .glyphicon-download;                }
.tf-icon--upload                  { @extend .glyphicon-upload;                  }
.tf-icon--inbox                   { @extend .glyphicon-inbox;                   }
.tf-icon--play-circle             { @extend .glyphicon-play-circle;             }
.tf-icon--repeat                  { @extend .glyphicon-repeat;                  }
.tf-icon--refresh                 { @extend .glyphicon-refresh;                 }
.tf-icon--list-alt                { @extend .glyphicon-list-alt;                }
.tf-icon--lock                    { @extend .glyphicon-lock;                    }
.tf-icon--flag                    { @extend .glyphicon-flag;                    }
.tf-icon--headphones              { @extend .glyphicon-headphones;              }
.tf-icon--volume-off              { @extend .glyphicon-volume-off;              }
.tf-icon--volume-down             { @extend .glyphicon-volume-down;             }
.tf-icon--volume-up               { @extend .glyphicon-volume-up;               }
.tf-icon--qrcode                  { @extend .glyphicon-qrcode;                  }
.tf-icon--barcode                 { @extend .glyphicon-barcode;                 }
.tf-icon--tag                     { @extend .glyphicon-tag;                     }
.tf-icon--tags                    { @extend .glyphicon-tags;                    }
.tf-icon--book                    { @extend .glyphicon-book;                    }
.tf-icon--bookmark                { @extend .glyphicon-bookmark;                }
.tf-icon--print                   { @extend .glyphicon-print;                   }
.tf-icon--camera                  { @extend .glyphicon-camera;                  }
.tf-icon--font                    { @extend .glyphicon-font;                    }
.tf-icon--bold                    { @extend .glyphicon-bold;                    }
.tf-icon--italic                  { @extend .glyphicon-italic;                  }
.tf-icon--text-height             { @extend .glyphicon-text-height;             }
.tf-icon--text-width              { @extend .glyphicon-text-width;              }
.tf-icon--align-left              { @extend .glyphicon-align-left;              }
.tf-icon--align-center            { @extend .glyphicon-align-center;            }
.tf-icon--align-right             { @extend .glyphicon-align-right;             }
.tf-icon--align-justify           { @extend .glyphicon-align-justify;           }
.tf-icon--list                    { @extend .glyphicon-list;                    }
.tf-icon--indent-left             { @extend .glyphicon-indent-left;             }
.tf-icon--indent-right            { @extend .glyphicon-indent-right;            }
.tf-icon--facetime-video          { @extend .glyphicon-facetime-video;          }
.tf-icon--picture                 { @extend .glyphicon-picture;                 }
.tf-icon--map-marker              { @extend .glyphicon-map-marker;              }
.tf-icon--adjust                  { @extend .glyphicon-adjust;                  }
.tf-icon--tint                    { @extend .glyphicon-tint;                    }
.tf-icon--edit                    { @extend .glyphicon-edit;                    }
.tf-icon--share                   { @extend .glyphicon-share;                   }
.tf-icon--check                   { @extend .glyphicon-check;                   }
.tf-icon--move                    { @extend .glyphicon-move;                    }
.tf-icon--step-backward           { @extend .glyphicon-step-backward;           }
.tf-icon--fast-backward           { @extend .glyphicon-fast-backward;           }
.tf-icon--backward                { @extend .glyphicon-backward;                }
.tf-icon--play                    { @extend .glyphicon-play;                    }
.tf-icon--pause                   { @extend .glyphicon-pause;                   }
.tf-icon--stop                    { @extend .glyphicon-stop;                    }
.tf-icon--forward                 { @extend .glyphicon-forward;                 }
.tf-icon--fast-forward            { @extend .glyphicon-fast-forward;            }
.tf-icon--step-forward            { @extend .glyphicon-step-forward;            }
.tf-icon--eject                   { @extend .glyphicon-eject;                   }
.tf-icon--chevron-left            { @extend .glyphicon-chevron-left;            }
.tf-icon--chevron-right           { @extend .glyphicon-chevron-right;           }
.tf-icon--plus-sign               { @extend .glyphicon-plus-sign;               }
.tf-icon--minus-sign              { @extend .glyphicon-minus-sign;              }
.tf-icon--remove-sign             { @extend .glyphicon-remove-sign;             }
.tf-icon--ok-sign                 { @extend .glyphicon-ok-sign;                 }
.tf-icon--question-sign           { @extend .glyphicon-question-sign;           }
.tf-icon--info-sign               { @extend .glyphicon-info-sign;               }
.tf-icon--screenshot              { @extend .glyphicon-screenshot;              }
.tf-icon--remove-circle           { @extend .glyphicon-remove-circle;           }
.tf-icon--ok-circle               { @extend .glyphicon-ok-circle;               }
.tf-icon--ban-circle              { @extend .glyphicon-ban-circle;              }
.tf-icon--arrow-left              { @extend .glyphicon-arrow-left;              }
.tf-icon--arrow-right             { @extend .glyphicon-arrow-right;             }
.tf-icon--arrow-up                { @extend .glyphicon-arrow-up;                }
.tf-icon--arrow-down              { @extend .glyphicon-arrow-down;              }
.tf-icon--share-alt               { @extend .glyphicon-share-alt;               }
.tf-icon--resize-full             { @extend .glyphicon-resize-full;             }
.tf-icon--resize-small            { @extend .glyphicon-resize-small;            }
.tf-icon--exclamation-sign        { @extend .glyphicon-exclamation-sign;        }
.tf-icon--gift                    { @extend .glyphicon-gift;                    }
.tf-icon--leaf                    { @extend .glyphicon-leaf;                    }
.tf-icon--fire                    { @extend .glyphicon-fire;                    }
.tf-icon--eye-open                { @extend .glyphicon-eye-open;                }
.tf-icon--eye-close               { @extend .glyphicon-eye-close;               }
.tf-icon--warning-sign            { @extend .glyphicon-warning-sign;            }
.tf-icon--plane                   { @extend .glyphicon-plane;                   }
.tf-icon--calendar                { @extend .glyphicon-calendar;                }
.tf-icon--random                  { @extend .glyphicon-random;                  }
.tf-icon--comment                 { @extend .glyphicon-comment;                 }
.tf-icon--magnet                  { @extend .glyphicon-magnet;                  }
.tf-icon--chevron-up              { @extend .glyphicon-chevron-up;              }
.tf-icon--chevron-down            { @extend .glyphicon-chevron-down;            }
.tf-icon--retweet                 { @extend .glyphicon-retweet;                 }
.tf-icon--shopping-cart           { @extend .glyphicon-shopping-cart;           }
.tf-icon--folder-close            { @extend .glyphicon-folder-close;            }
.tf-icon--folder-open             { @extend .glyphicon-folder-open;             }
.tf-icon--resize-vertical         { @extend .glyphicon-resize-vertical;         }
.tf-icon--resize-horizontal       { @extend .glyphicon-resize-horizontal;       }
.tf-icon--hdd                     { @extend .glyphicon-hdd;                     }
.tf-icon--bullhorn                { @extend .glyphicon-bullhorn;                }
.tf-icon--bell                    { @extend .glyphicon-bell;                    }
.tf-icon--certificate             { @extend .glyphicon-certificate;             }
.tf-icon--thumbs-up               { @extend .glyphicon-thumbs-up;               }
.tf-icon--thumbs-down             { @extend .glyphicon-thumbs-down;             }
.tf-icon--hand-right              { @extend .glyphicon-hand-right;              }
.tf-icon--hand-left               { @extend .glyphicon-hand-left;               }
.tf-icon--hand-up                 { @extend .glyphicon-hand-up;                 }
.tf-icon--hand-down               { @extend .glyphicon-hand-down;               }
.tf-icon--circle-arrow-right      { @extend .glyphicon-circle-arrow-right;      }
.tf-icon--circle-arrow-left       { @extend .glyphicon-circle-arrow-left;       }
.tf-icon--circle-arrow-up         { @extend .glyphicon-circle-arrow-up;         }
.tf-icon--circle-arrow-down       { @extend .glyphicon-circle-arrow-down;       }
.tf-icon--globe                   { @extend .glyphicon-globe;                   }
.tf-icon--wrench                  { @extend .glyphicon-wrench;                  }
.tf-icon--tasks                   { @extend .glyphicon-tasks;                   }
.tf-icon--filter                  { @extend .glyphicon-filter;                  }
.tf-icon--briefcase               { @extend .glyphicon-briefcase;               }
.tf-icon--fullscreen              { @extend .glyphicon-fullscreen;              }
.tf-icon--dashboard               { @extend .glyphicon-dashboard;               }
.tf-icon--paperclip               { @extend .glyphicon-paperclip;               }
.tf-icon--heart-empty             { @extend .glyphicon-heart-empty;             }
.tf-icon--link                    { @extend .glyphicon-link;                    }
.tf-icon--phone                   { @extend .glyphicon-phone;                   }
.tf-icon--pushpin                 { @extend .glyphicon-pushpin;                 }
.tf-icon--usd                     { @extend .glyphicon-usd;                     }
.tf-icon--gbp                     { @extend .glyphicon-gbp;                     }
.tf-icon--sort                    { @extend .glyphicon-sort;                    }
.tf-icon--sort-by-alphabet        { @extend .glyphicon-sort-by-alphabet;        }
.tf-icon--sort-by-alphabet-alt    { @extend .glyphicon-sort-by-alphabet-alt;    }
.tf-icon--sort-by-order           { @extend .glyphicon-sort-by-order;           }
.tf-icon--sort-by-order-alt       { @extend .glyphicon-sort-by-order-alt;       }
.tf-icon--sort-by-attributes      { @extend .glyphicon-sort-by-attributes;      }
.tf-icon--sort-by-attributes-alt  { @extend .glyphicon-sort-by-attributes-alt;  }
.tf-icon--unchecked               { @extend .glyphicon-unchecked;               }
.tf-icon--expand                  { @extend .glyphicon-expand;                  }
.tf-icon--collapse-down           { @extend .glyphicon-collapse-down;           }
.tf-icon--collapse-up             { @extend .glyphicon-collapse-up;             }
.tf-icon--log-in                  { @extend .glyphicon-log-in;                  }
.tf-icon--flash                   { @extend .glyphicon-flash;                   }
.tf-icon--log-out                 { @extend .glyphicon-log-out;                 }
.tf-icon--new-window              { @extend .glyphicon-new-window;              }
.tf-icon--record                  { @extend .glyphicon-record;                  }
.tf-icon--save                    { @extend .glyphicon-save;                    }
.tf-icon--open                    { @extend .glyphicon-open;                    }
.tf-icon--saved                   { @extend .glyphicon-saved;                   }
.tf-icon--import                  { @extend .glyphicon-import;                  }
.tf-icon--export                  { @extend .glyphicon-export;                  }
.tf-icon--send                    { @extend .glyphicon-send;                    }
.tf-icon--floppy-disk             { @extend .glyphicon-floppy-disk;             }
.tf-icon--floppy-saved            { @extend .glyphicon-floppy-saved;            }
.tf-icon--floppy-remove           { @extend .glyphicon-floppy-remove;           }
.tf-icon--floppy-save             { @extend .glyphicon-floppy-save;             }
.tf-icon--floppy-open             { @extend .glyphicon-floppy-open;             }
.tf-icon--credit-card             { @extend .glyphicon-credit-card;             }
.tf-icon--transfer                { @extend .glyphicon-transfer;                }
.tf-icon--cutlery                 { @extend .glyphicon-cutlery;                 }
.tf-icon--header                  { @extend .glyphicon-header;                  }
.tf-icon--compressed              { @extend .glyphicon-compressed;              }
.tf-icon--earphone                { @extend .glyphicon-earphone;                }
.tf-icon--phone-alt               { @extend .glyphicon-phone-alt;               }
.tf-icon--tower                   { @extend .glyphicon-tower;                   }
.tf-icon--stats                   { @extend .glyphicon-stats;                   }
.tf-icon--sd-video                { @extend .glyphicon-sd-video;                }
.tf-icon--hd-video                { @extend .glyphicon-hd-video;                }
.tf-icon--subtitles               { @extend .glyphicon-subtitles;               }
.tf-icon--sound-stereo            { @extend .glyphicon-sound-stereo;            }
.tf-icon--sound-dolby             { @extend .glyphicon-sound-dolby;             }
.tf-icon--sound-5-1               { @extend .glyphicon-sound-5-1;               }
.tf-icon--sound-6-1               { @extend .glyphicon-sound-6-1;               }
.tf-icon--sound-7-1               { @extend .glyphicon-sound-7-1;               }
.tf-icon--copyright-mark          { @extend .glyphicon-copyright-mark;          }
.tf-icon--registration-mark       { @extend .glyphicon-registration-mark;       }
.tf-icon--cloud-download          { @extend .glyphicon-cloud-download;          }
.tf-icon--cloud-upload            { @extend .glyphicon-cloud-upload;            }
.tf-icon--tree-conifer            { @extend .glyphicon-tree-conifer;            }
.tf-icon--tree-deciduous          { @extend .glyphicon-tree-deciduous;          }
.tf-icon--cd                      { @extend .glyphicon-cd;                      }
.tf-icon--save-file               { @extend .glyphicon-save-file;               }
.tf-icon--open-file               { @extend .glyphicon-open-file;               }
.tf-icon--level-up                { @extend .glyphicon-level-up;                }
.tf-icon--copy                    { @extend .glyphicon-copy;                    }
.tf-icon--paste                   { @extend .glyphicon-paste;                   }
.tf-icon--alert                   { @extend .glyphicon-alert;                   }
.tf-icon--equalizer               { @extend .glyphicon-equalizer;               }
.tf-icon--king                    { @extend .glyphicon-king;                    }
.tf-icon--queen                   { @extend .glyphicon-queen;                   }
.tf-icon--pawn                    { @extend .glyphicon-pawn;                    }
.tf-icon--bishop                  { @extend .glyphicon-bishop;                  }
.tf-icon--knight                  { @extend .glyphicon-knight;                  }
.tf-icon--baby-formula            { @extend .glyphicon-baby-formula;            }
.tf-icon--tent                    { @extend .glyphicon-tent;                    }
.tf-icon--blackboard              { @extend .glyphicon-blackboard;              }
.tf-icon--bed                     { @extend .glyphicon-bed;                     }
.tf-icon--apple                   { @extend .glyphicon-apple;                   }
.tf-icon--erase                   { @extend .glyphicon-erase;                   }
.tf-icon--hourglass               { @extend .glyphicon-hourglass;               }
.tf-icon--lamp                    { @extend .glyphicon-lamp;                    }
.tf-icon--duplicate               { @extend .glyphicon-duplicate;               }
.tf-icon--piggy-bank              { @extend .glyphicon-piggy-bank;              }
.tf-icon--scissors                { @extend .glyphicon-scissors;                }
.tf-icon--bitcoin                 { @extend .glyphicon-bitcoin;                 }
.tf-icon--btc                     { @extend .glyphicon-btc;                     }
.tf-icon--xbt                     { @extend .glyphicon-xbt;                     }
.tf-icon--yen                     { @extend .glyphicon-yen;                     }
.tf-icon--jpy                     { @extend .glyphicon-jpy;                     }
.tf-icon--ruble                   { @extend .glyphicon-ruble;                   }
.tf-icon--rub                     { @extend .glyphicon-rub;                     }
.tf-icon--scale                   { @extend .glyphicon-scale;                   }
.tf-icon--ice-lolly               { @extend .glyphicon-ice-lolly;               }
.tf-icon--ice-lolly-tasted        { @extend .glyphicon-ice-lolly-tasted;        }
.tf-icon--education               { @extend .glyphicon-education;               }
.tf-icon--option-horizontal       { @extend .glyphicon-option-horizontal;       }
.tf-icon--option-vertical         { @extend .glyphicon-option-vertical;         }
.tf-icon--menu-hamburger          { @extend .glyphicon-menu-hamburger;          }
.tf-icon--modal-window            { @extend .glyphicon-modal-window;            }
.tf-icon--oil                     { @extend .glyphicon-oil;                     }
.tf-icon--grain                   { @extend .glyphicon-grain;                   }
.tf-icon--sunglasses              { @extend .glyphicon-sunglasses;              }
.tf-icon--text-size               { @extend .glyphicon-text-size;               }
.tf-icon--text-color              { @extend .glyphicon-text-color;              }
.tf-icon--text-background         { @extend .glyphicon-text-background;         }
.tf-icon--object-align-top        { @extend .glyphicon-object-align-top;        }
.tf-icon--object-align-bottom     { @extend .glyphicon-object-align-bottom;     }
.tf-icon--object-align-horizontal { @extend .glyphicon-object-align-horizontal; }
.tf-icon--object-align-left       { @extend .glyphicon-object-align-left;       }
.tf-icon--object-align-vertical   { @extend .glyphicon-object-align-vertical;   }
.tf-icon--object-align-right      { @extend .glyphicon-object-align-right;      }
.tf-icon--triangle-right          { @extend .glyphicon-triangle-right;          }
.tf-icon--triangle-left           { @extend .glyphicon-triangle-left;           }
.tf-icon--triangle-bottom         { @extend .glyphicon-triangle-bottom;         }
.tf-icon--triangle-top            { @extend .glyphicon-triangle-top;            }
.tf-icon--console                 { @extend .glyphicon-console;                 }
.tf-icon--superscript             { @extend .glyphicon-superscript;             }
.tf-icon--subscript               { @extend .glyphicon-subscript;               }
.tf-icon--menu-left               { @extend .glyphicon-menu-left;               }
.tf-icon--menu-right              { @extend .glyphicon-menu-right;              }
.tf-icon--menu-down               { @extend .glyphicon-menu-down;               }
.tf-icon--menu-up                 { @extend .glyphicon-menu-up;                 }

.tf-btn-group {
  @extend .btn-group;
}
.tf-btn {
  @extend .btn;
  border: none;

  box-sizing: border-box;

  @include transition(background-color $fast-fade);

  &.tf-btn--tiny {
    @extend .btn-xs;
  }

  &.tf-btn--small {
    @extend .btn-sm;
  }

  &.tf-btn--large {
    @extend .btn-lg;
  }

  &.tf-btn--block {
    @extend .btn-block;
  }

  &.tf-btn--default {
    color: $default-color;
    background-color: $default;
    border: solid 1px $default-border;

    &:hover, &.active {
      background-color: $default-active;
    }
  }

  &.tf-btn--inverse {
    color: $inverse-color;
    background-color: $inverse;

    &:hover, &.active {
      background-color: $inverse-active;
    }
  }

  &.tf-btn--primary {
    color: $primary-color;
    background-color: $primary;

    &:hover, &.active {
      background-color: $primary-active;
    }
  }

  &.tf-btn--success {
    color: $success-color;
    background-color: $success;

    &:hover, &.active {
      background-color: $success-active;
    }
  }

  &.tf-btn--danger {
    color: $danger-color;
    background-color: $danger;

    &:hover, &.active {
      background-color: $danger-active;
    }
  }

  &.tf-btn--warning {
    color: $warning-color;
    background-color: $warning;

    &:hover, &.active {
      background-color: $warning-active;
    }
  }

  &.tf-btn--info {
    color: $info-color;
    background-color: $info;

    &:hover, &.active {
      background-color: $info-active;
    }
  }

  &.tf-btn--outline {
    background-color: transparent;
    border: solid 2px;
    @include transition(color $fast-fade, border-color $fast-fade);
    padding: 4px 10px;


    &:hover, &.active {
      background-color: transparent;
    }

    &.tf-btn--default, &.tf-inverse {
      color: $inverse-color;
      border-color: $inverse-color;

      &:hover, &.active {
        color: $inverse-color-active;
        border-color: $inverse-color-active;
      }
    }

    &.tf-btn--primary {
      color: $primary;
      border-color: $primary;

      &:hover, &.active {
        color: $primary-active;
        border-color: $primary-active;
      }
    }

    &.tf-btn--success {
      color: $success;
      border-color: $success;

      &:hover, &.active {
        color: $success-active;
        border-color: $success-active;
      }
    }

    &.tf-btn--danger {
      color: $danger;
      border-color: $danger;

      &:hover, &.active {
        color: $danger-active;
        border-color: $danger-active;
      }
    }

    &.tf-btn--warning {
      color: $warning;
      border-color: $warning;

      &:hover, &.active {
        color: $warning-active;
        border-color: $warning-active;
      }
    }

    &.tf-btn--info {
      color: $info;
      border-color: $info;

      &:hover, &.active {
        color: $info-active;
        border-color: $info-active;
      }
    }
  }

  &.tf-btn--square {
    width: 80px;
    height: 80px;

    span {
      display: block;
    }

    &.tf-btn--square-large {
      width: 160px;
    }

    .tf-btn--square__title {
      font-size: 0.8em;
      line-height: 0.3em;
    }

    .tf-btn--square__icon {
      margin-top: 0.3em;
      font-size: 2.8em;
    }
  }
}
.tf-date-picker {
  header {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    position: relative;

    padding: 16px;

    border-bottom: solid 1px $gray-lighter;

    .tf-date-picker__next-month,
    .tf-date-picker__previous-month {
      cursor: pointer;
      position: absolute;
      font-size: 20px;
      color: $gray-med
    }

    .tf-date-picker__next-month {
      right: 12px;
    }

    .tf-date-picker__previous-month {
      left: 12px;
    }

    .tf-date-picker__current-month {
      font-size: 16px;
      text-align: center;
    }
  }

  .tf-date-picker__start-date {
    float: left;
    width: 56px;
  }

  .tf-date-picker__end-date {
    width: 56px;
    margin-left: 24px;
    float: left;
    position: relative;

    &::before {
      content: "-";
      position: absolute;
      left: -20px;
      font-size: 36px;
    }
  }

  .tf-date-picker__date {
    font-size: 2.2em;
  }

  .tf-date-picker__month,
  .tf-date-picker__year {
    line-height: 0.3em;
  }

  .tf-date-picker__ranges {
    float: left;
    width: 120px;
    padding: 10px;

    .tf-btn {
      width: 100%;
      text-align: center;
    }
  }

  .tf-date-picker__range-controls {
    padding: 0 0 20px 20px;

    .tf-input {
      width: 105px;
      display: inline;
    }
  }

  .tf-date-picker__calendar-month {
    margin: 16px;
    border-collapse: collapse;
    border-spacing: 0;

    th {
      font-family: sans-serif;
      text-align: center;
      text-transform: uppercase;
      font-size: 12px;
      height: 30px;
      margin-bottom: 5px;
      font-weight: bold;
    }

    .tf-date-picker__calendar-day {
      text-align: center;
      cursor: pointer;
      width: 34px;
      height: 34px;

      span {
        padding: 8px;
        display: block;
      }

      &.is-not-in-month {
        color: $gray;
      }

      &.disabled {
        cursor: not-allowed;
        color: $gray;
      }

      &.is-today span {
        //border: 1px solid $gray-lighter;
      }

      &.selected {
        position: relative;

        span {
          top: 0;
          left: 0;
          width: 34px;
          height: 34px;
          position: absolute;
          border-radius: 50%;

          color: $green-dark;
          background-color: $green-light;
        }
      }

      &.is-in-range {
        background-color: lighten($green-light, 10%);

        &.is-start-date {
          border-top-left-radius: 50%;
          border-bottom-left-radius: 50%;
        }

        &.is-end-date {
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;
        }
      }
    }
  }
}
