<div class="ff-date-picker-range-controls">
  {{input value=inputValue class="ff-input"}}

  {{!-- {{ui-checkbox checked=range class="ff-checkbox ff-date-picker-range-toggle"}} {{rangeToggleText}} --}}
</div>
